{% extends 'admin/base.html.twig' %}

{% block title %}Edit - Soundtrack{% endblock %}

{% block body %}
    <div class="col-12 col-lg-9 col-xl-10 offset-lg-3 offset-xl-2 px-lg-7">
        <!-- Header -->
        <div class="row">
            <div class="col">
                <!-- Title -->
                <h1 class="header-title text-truncate text-white mt-3">
                    Edit Soundtrack
                </h1>
            </div>
        </div>
        <hr>
        <!-- Display flash messages -->
        <div>
            {% for type, flashes in app.flashes %}
                {% for message in flashes %}
                    <div class="alert alert-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="container-fluid mt-5 mb-5">
            {{ form_start(form) }}
            {% if not form.vars.valid %}
                <div class="alert alert-danger">
                    {{ form_errors(form) }}
                </div>
            {% endif %}
            <div class="row mb-5">
                <div class="col-6">
                    <h3 class="text-white">{{ form_label(form.title) }}</h3>
                    {{ form_widget(form.title) }}
                </div>
                <div class="col-6">
                    <h3 class="text-white">{{ form_label(form.romaji) }}</h3>
                    {{ form_widget(form.romaji) }}
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-6">
                    <h3 class="text-white">{{ form_label(form.duration) }}</h3>
                    {{ form_widget(form.duration) }}
                </div>
                <div class="col-6 row">
                    <h3 class="text-white">{{ form_label(form.number) }}</h3>
                    {{ form_widget(form.number) }}
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-6">
                    <h3 class="text-white">{{ form_label(form.vocals) }}</h3>
                    {{ form_widget(form.vocals) }}
                </div>
                <div class="col-6 row">
                    <h3 class="text-white">{{ form_label(form.lyricist) }}</h3>
                    {{ form_widget(form.lyricist) }}
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-6">
                    <h3 class="text-white">{{ form_label(form.arranger) }}</h3>
                    {{ form_widget(form.arranger) }}
                </div>
                <div class="col-6 row">
                    <h3 class="text-white">{{ form_label(form.composer) }}</h3>
                    {{ form_widget(form.composer) }}
                </div>
            </div>
            <div class="col-6 mb-5 row">
                <h3 class="text-white">{{ form_label(form.episodes) }}</h3>
                {{ form_widget(form.episodes) }}
            </div>
            <div class="col mb-5">
                <button type="submit" class="btn btn-primary text-white">Edit soundtrack</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}


