{% extends "admin/base.html.twig" %}

{% block title %}Soundtracks{% endblock %}

{% block body %}
    <div class="mt-5 col-12 col-lg-9 col-xl-10 offset-lg-3 offset-xl-2 px-lg-7">

    </div>
    <div class="col-12 col-lg-9 col-xl-10 offset-lg-3 offset-xl-2 px-lg-7">
        <!-- Header -->
        <div class="row">
            <div class="col">
                <!-- Title -->
                <h1 class="header-title text-truncate text-white mt-3">
                    Soundtracks
                </h1>
            </div>
            <div class="col-auto align-self-center">
                <!-- Button -->
                <a href="{{ path('admin_soundtrack_add') }}" class="nav-link text-black navbar-btn btn btn-sm btn-light lift ms-2 dropdown-link">
                    Add Soundtrack
                </a>
            </div>
        </div>
        <hr>
        <!-- Pagination -->
        <div class="container d-flex justify-content-end">
            {{ knp_pagination_render(soundtracks, "admin/base/_pagination.html.twig") }}
        </div>
        <!-- Display flash messages -->
        <div>
            {% for type, flashes in app.flashes %}
                {% for message in flashes %}
                    <div class="alert alert-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <!-- Table -->
        <div class="table-responsive m-5 rounded">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Number</th>
                    <th scope="col">Episode(s)</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for soundtrack in soundtracks %}
                    <tr>
                        <th scope="row">{{ soundtrack.id }}</th>
                        <td>{{ soundtrack.title }}</td>
                        <td>{{ soundtrack.number }}</td>
                        <td>
                            {% if soundtrack.episodes is not empty %}
                                {% for episode in soundtrack.episodes %}
                                    {% if loop.first %}{{ episode.number }}{% endif %}
                                    {% if not loop.first == loop.last %}
                                        {% if loop.last %} - {{ episode.number }}{% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                No Episodes
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('admin_soundtrack_edit', {'id': soundtrack.id}) }}" class="text-black">
                                <i class="ph-pencil"></i>
                            </a>
                            <a>
                                <i class="ph-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}