<section>
    <div class="container">
        <!-- Title -->
        <div class="row">
            <div class="ms-4 col">
                <!-- Title -->
                <h2 class="text-white mb-0">Characters</h2>
                <!-- Text -->
                <p class="mb-2 text-muted">Sort by popularity</p>
            </div>
            <div class="ms-auto mt-2 me-5 me-md-0 col-auto">
                <a class="btn btn-dark text-white" href="{{ path('character_showcase') }}">View All</a>
            </div>
        </div>
        <div class="card mb-5">
            <div class="card-body bg-black">
                <div class="row">
                    {% for character in characters %}
                        <div class="col-12 col-md-4">
                            <!-- Card -->
                            <a class="card card-flush mb-7 mb-md-0" href="{{ path('character_show', {"slug": character.slug}) }}">
                                <!-- Image -->
                                <div class="card-zoom">
                                    {% for media in character.medias %}
                                        <!-- If it's the first media, then it's the cover -->
                                        {% if loop.index0 == 0 %}
                                            <img class="card-img-top rounded shadow-light-lg" src="{{ vich_uploader_asset(media) | imagine_filter("card") }}" alt="Character Cover">
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <!-- Footer -->
                                <div class="card-footer">
                                    <!-- Heading -->
                                    <h4 class="text-white text-center mb-0">{{ character.name }}</h4>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>