{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    {% include "home/posts.html.twig"%}
    <div class="mt-6 container"><hr class="bg-gray-300 my-6"></div>
    {% include "home/characters.html.twig" %}
{% endblock %}