<section class="pt-8 pt-md-11">
    <div class="container">
        <!-- Title -->
        <div class="row">
            <div class="ms-4 col">
                <!-- Title -->
                <h2 class="text-white mb-0">News</h2>
                <!-- Text -->
                <p class="mb-5 text-muted">News about the manga, the anime, and more...</p>
            </div>
            <div class="ms-auto mt-2 me-5 me-md-0 col-auto">
                <a class="btn btn-dark text-white" href="{{ path('post_showcase') }}">View All</a>
            </div>
        </div>
        <!-- Cards -->
        <div class="flickity-button-white" data-flickity='{"pageDots": true,"cellAlign": "center", "wrapAround": true, "imagesLoaded": false, "setGallerySize": true}'>
            {% for post in posts %}
                <div class="card card-row bg-dark shadow-light-lg">
                    <div class="row gx-0">
                        <!-- Badge -->
                        <div class="col-12">
                            <span class="badge rounded-pill bg-white badge-float badge-float-inside">
                                <span class="h6 text-uppercase">{{ post.category.title }}</span>
                            </span>
                        </div>
                        <!-- Cover -->
                        <a class="col-12 col-md-6 order-md-2 bg-cover card-img-end" href="{{ path('post_show', {'slug': post.slug}) }}" style="background-image: url({{ vich_uploader_asset(post.cover) | imagine_filter("card") }})">
                            <!-- Image (placeholder) -->
                            <img src="{{ vich_uploader_asset(post.cover) | imagine_filter("card") }}" alt="{{ post.title }}" class="img-fluid d-md-none invisible">
                            <!-- Shape -->
                            <div class="shape shape-start shape-fluid-y text-dark d-none d-md-block">
                                <svg viewBox="0 0 112 690" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h62.759v172C38.62 384 112 517 112 517v173H0V0z" fill="currentColor"></path>
                                </svg>
                            </div>
                        </a>
                        <!-- Body -->
                        <div class="col-12 col-md-6 order-md-1">
                            <a class="card-body" href="{{ path('post_show', {'slug': post.slug}) }}">
                                <!-- Heading -->
                                <h3 class="text-white">{{ post.title }}</h3>
                                <!-- Text -->
                                <p class="mb-0 text-muted">
                                    {{ post.content | slice(0, 128) | striptags | replace({" ": "&nbsp;"}) | raw | nl2br }}...
                                </p>
                            </a>
                            <!-- Meta -->
                            <a class="card-meta" href="{{ path('post_show', {'slug': post.slug}) }}">
                                <!-- Divider -->
                                <hr class="card-meta-divider">
                                <!-- Avatar -->
                                <div class="avatar avatar-sm me-2">
                                    {% if post.author.hasAvatar %}
                                        <img src="{{ vich_uploader_asset(post.author.avatar) | imagine_filter("avatar") }}" alt="{{ post.author.pseudo }}" class="avatar-img rounded-circle">
                                    {% else %}
                                        <img src="{{ asset("img/defaultAvatar.jpg") | imagine_filter("avatar") }}" alt="{{ post.author.pseudo }}" class="avatar-img rounded-circle">
                                    {% endif %}
                                </div>
                                <!-- Author -->
                                <h6 class="text-uppercase text-muted me-2 mb-0">{{ post.author.pseudo }}</h6>
                                <!-- Date -->
                                <p class="h6 text-uppercase text-muted mb-0 ms-auto">{{ post.postedAt | date("m/d/Y") }}</p>
                            </a>
                        </div>
                    </div> <!-- / .row -->
                </div>
            {% endfor %}
        </div>
    </div>
</section>