{% if character.abilities is not empty %}
    <div>
        <h2><strong>Abilities</strong></h2>
        {% for ability in character.abilities %}
            <h4 class="text-info"><strong>{{ ability.name }}</strong></h4>
            <p class="">{% autoescape false %}{{ ability.summary }}{% endautoescape %}</p>
            <p>{% autoescape false %}{{ ability.description }}{% endautoescape %}</p>
        {% endfor %}
    </div>
{% endif %}