<div class="card my-5 bg-black">
    <div class="row g-0 d-flex align-items-center">
        <div class="col-md-4">
            <img src="{{ vich_uploader_asset(character.cover) | imagine_filter("card") }}" class="img-fluid rounded" alt="Character Cover">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h2 class="card-title mb-1"><strong>{{ character.name }}</strong></h2>
                {% if character.aliases is not null %}<p class="card-text mb-0">Aliase(s): {{ character.aliases }}</p>{% endif %}
                {% if character.age is not null %}<p class="card-text mb-0">Age: {{ character.age }}</p>{% endif %}
                {% if character.race is not null %}<p class="card-text mb-0">Race: {{ character.race }}</p>{% endif %}
                {% if character.gender is not null %}<p class="card-text mb-0">Gender: {{ character.gender }}</p>{% endif %}
                {% if character.height is not null %}<p class="card-text mb-0">Height: {{ character.height }}cm</p>{% endif %}
                {% if character.weight is not null %}<p class="card-text mb-0">Weight: {{ character.weight }}kg</p>{% endif %}
                <br>
                {% if character.description != null %}<p class="card-text mb-0">{% autoescape false %}{{ character.description }}{% endautoescape %}</p>{% endif %}
            </div>
        </div>
    </div>
</div>