{% if character.organizations is not empty %}
    <div class="mb-2">
        <h2><strong>Organizations</strong></h2>
        <div class="card bg-black">
            <div class="card-body">
                {% for organization in character.organizations %}
                    <a class="text-white" href="{{ path("home") }}">{{ organization.name }}</a><br>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}