<!-- Relatives -->
{% if character.relations is not empty %}
    <section>
        <div class="container">
            <!-- Title -->
            <h2><strong>Relatives</strong></h2>
            <div class="card mb-2">
                <div class="card-body bg-black">
                    <div class="row">
                        {% for relation in character.relations %}
                        <div class="col-12 col-md-4">
                            <!-- Card -->
                            <a class="card card-flush mb-7 mb-md-0" href="{{ path('character_show', {"slug": relation.relative.slug}) }}">
                                <!-- Image -->
                                <div class="card-zoom">
                                    <!-- If it's the first media, then it's the cover -->
                                    <img class="card-img-top rounded shadow-light-lg" src="{{ vich_uploader_asset(relation.relative.cover) | imagine_filter("card") }}" alt="Character Cover">
                                </div>
                                <!-- Footer -->
                                <div class="card-footer">
                                    <!-- Heading -->
                                    <h4 class="text-white text-center mb-0">{{ relation.relative.name }} - <span class="text-muted">{{ relation.type }}</span></h4>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}