<div class="col-12 col-md-4">
    <a class="card mb-6 mb-lg-0 shadow-dark-lg" href="{{ path('character_show', {"slug": character.slug}) }}">
        <!-- Image -->
        <div class="card-zoom">
            <img class="card-img-top" src="{{ vich_uploader_asset(character.cover) | imagine_filter("card") }}" alt="Character Cover">
        </div>
        <!-- Body -->
        <div class="card-body bg-dark">
            <!-- Shape -->
            <div class="shape shape-bottom-100 shape-fluid-x text-dark">
                <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"></path>
                </svg>
            </div>
            <!-- Heading -->
            <h4 class="mb-0 text-white">{{ character.name }}</h4>
        </div>

    </a>
</div>