{% extends "base.html.twig" %}

{% block title %}{{ character.name }}{% endblock %}

{% block body %}
    <section>
        <div class="container text-white mb-5">
            <!-- Character Card -->
            {% include "character/_character_info.html.twig" %}
            <!-- Organizations -->
            {% include "character/_organizations.html.twig" %}
            <!-- Abilities -->
            {% include "character/_abilities.html.twig" %}
            <!-- Relatives -->
            {% include "character/_relatives.html.twig" %}
        </div>
    </section>
{% endblock %}