<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Register - Sukitoru Sekai{% endblock %}</title>

    {% block stylesheets %}
        <!-- Webpack Encore CSS -->
        {{ encore_entry_link_tags('app') }}
        <!-- Font Awesome -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
    {% endblock %}

    {% block javascripts %}
        <!-- Webpack Encore JS -->
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="bg-black">
    <section>
        <div class="container d-flex flex-column">
            <div class="row align-items-center justify-content-center gx-0 min-vh-100">
                <div class="col-12 col-md-6 col-lg-4 py-8 py-md-11">

                    <!-- Heading -->
                    <h1 class="text-white mb-5 fw-bold">
                        Sign Up
                    </h1>
                    <div class="mb-6">
                        {{ form_start(registrationForm) }}

                        {% for flashError in app.flashes('verify_email_error') %}
                            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                        {% endfor %}

                        <!-- Username -->
                        <div class="mb-5 text-white">
                            {{ form_row(registrationForm.pseudo) }}
                        </div>

                        <!-- Email -->
                        <div class="mb-5 text-white">
                            {{ form_row(registrationForm.email) }}
                        </div>

                        <!-- Password -->
                        <div class="mb-5 text-white">
                            {{ form_row(registrationForm.plainPassword, {label: 'Password'}) }}
                        </div>

                        <!-- Submit -->
                        <button class="btn w-100 btn-primary" type="submit">
                            Sign Up
                        </button>
                    </div>
                    <!-- Text -->
                    <p class="mb-2 fs-sm text-muted">
                        Already have an account? <a href="{{ path('app_login') }}">Sign in</a>.
                    </p>

                    <a class="text-muted" href="{{ path('home') }}"><i class="fa fa-arrow-left"></i> Return home</a>
                    {{ form_end(registrationForm) }}
                </div>
                <div class="col-lg-7 offset-lg-1 align-self-stretch d-none d-lg-block" data-aos="fade-left">

                    <!-- Image -->
                    <div class="h-100 w-cover bg-cover" style="background-image: url({{ asset('img/signUp.png') | imagine_filter("side")}});"></div>

                    <!-- Shape -->
                    <div class="shape shape-start shape-fluid-y text-black">
                        <svg viewBox="0 0 100 1544" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h100v386l-50 772v386H0V0z" fill="currentColor"/></svg>
                    </div>

                </div>
            </div>
        </div>
    </section>
</body>
</html>
