<!-- Footer -->
<footer class="py-8 py-md-11 d-none d-lg-block">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3 me-auto">
                <!-- Brand -->
                <img src="{{ asset('img/logo.svg') }}" alt="Logo" class="footer-brand img-fluid mb-2" width="60" height="60">
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <!-- Heading -->
                <h6 class="fw-bold text-uppercase text-gray-700">
                    Media
                </h6>
                <!-- List -->
                <ul class="list-unstyled text-muted mb-0">
                    <li class="mb-3">
                        <a href="{{ path('home') }}" class="text-reset">
                            Anime
                        </a>
                    </li>
                    <li class="mb-3">
                        <a href="{{ path('home') }}" class="text-reset">
                            Manga
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('home') }}" class="text-reset">
                            Soundtracks
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <!-- Heading -->
                <h6 class="fw-bold text-uppercase text-gray-700">Lore</h6>
                <!-- List -->
                <ul class="list-unstyled text-muted mb-0">
                    <li class="mb-3">
                        <a href="{{ path('home') }}" class="text-reset">
                            Arcs
                        </a>
                    </li>
                    <li class="mb-3">
                        <a href="{{ path('home') }}" class="text-reset">
                            Breathing Techniques
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('home') }}" class="text-reset">
                            Blood Demon Arts
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <!-- Heading -->
                <h6 class="fw-bold text-uppercase text-gray-700">
                    Legals
                </h6>

                <!-- List -->
                <ul class="list-unstyled text-muted mb-0">
                    <li class="mb-3">
                        <a href="{{ path('home') }}" class="text-reset">
                            GDPR
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>