<!-- Navbar -->
<nav class="navbar navbar-dark navbar-expand-lg border-bottom mb-3" style="z-index: 4;">
    <div class="container">
        <!-- Brand -->
        <a href="{{ path('home') }}">
            <img src="{{ asset('img/logo.svg') }}" class="img-fluid" alt="Sukitoru Sekai Logo" width="60" height="60">
        </a>
        <!-- Toggler -->
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collapse -->
        <div class="collapse navbar-collapse justify-content-end bg" id="navbarCollapse">
            <!-- Navigation -->
            <ul class="navbar-nav ms-auto">
                <!-- News -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-link" href="{{ path('home') }}">
                        Home
                    </a>
                </li>
                <!-- Media -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarMedia" data-bs-toggle="dropdown" href="{{ path('home') }}" aria-haspopup="true" aria-expanded="false">
                        Media
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarMedia">
                        <li class="dropdown-item dropend">
                            <a class="dropdown-link dropdown-toggle" data-bs-toggle="dropdown" href="{{ path('home') }}">
                                Manga
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ path('home') }}">
                                    Volumes & Chapters
                                </a>
                                <a class="dropdown-item" href="{{ path('home') }}">
                                    Spin-Off
                                </a>
                                <a class="dropdown-item" href="{{ path('home') }}">
                                    Light Novels
                                </a>
                            </div>
                        </li>
                        <li class="dropdown-item dropend">
                            <a class="dropdown-link dropdown-toggle" data-bs-toggle="dropdown" href="{{ path('home') }}">
                                Anime
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ path('home') }}">
                                    Seasons & Episodes
                                </a>
                                <a class="dropdown-item" href="{{ path('home') }}">
                                    Movies
                                </a>
                                <a class="dropdown-item" href="{{ path('home') }}">
                                    Specials
                                </a>
                            </div>
                        </li>
                        <li class="dropdown-item dropend">
                            <a class="dropdown-link dropdown-toggle" data-bs-toggle="dropdown" href="{{ path('home') }}">
                                Soundtracks
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ path('home') }}">
                                    Original Volumes
                                </a>
                                <a class="dropdown-item" href="{{ path('home') }}">
                                    Openings & Endings
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Lore -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarLore" data-bs-toggle="dropdown" href="{{ path('home') }}" aria-haspopup="true" aria-expanded="false">
                        Lore
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarLore">
                        <li class="dropdown-item dropend">
                            <a class="dropdown-link dropdown-toggle" data-bs-toggle="dropdown" href="{{ path('home') }}">
                                Arcs
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ path('home') }}">
                                    <!-- All Arcs -->
                                    {% for arc in arcs() %}
                                        <a class="dropdown-item" href="{{ path('home') }}">
                                            {{ arc.title }}
                                        </a>
                                    {% endfor %}
                                </a>
                            </div>
                        </li>
                        <li class="dropdown-item dropend">
                            <a class="dropdown-link dropdown-toggle" data-bs-toggle="dropdown" href="{{ path('home') }}">
                                Breathing Techniques
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ path('home') }}">
                                    <!-- All Breathing Techniques -->
                                </a>
                            </div>
                        </li>
                        <li class="dropdown-item dropend">
                            <a class="dropdown-link dropdown-toggle" data-bs-toggle="dropdown" href="{{ path('home') }}">
                                Blood Demon Arts
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ path('home') }}">
                                    <!-- All Blood Demon Arts -->
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Characters -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarCharacters" data-bs-toggle="dropdown" href="{{ path('character_showcase') }}" aria-haspopup="true" aria-expanded="false">
                        Characters
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarCharacters">
                        <li class="dropdown-item dropend">
                            <a class="dropdown-link dropdown-toggle" data-bs-toggle="dropdown" href="{{ path('home') }}">
                                Demon Slayers
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ path('home') }}">
                                    <!-- All Demon Slayers -->
                                </a>
                            </div>
                        </li>
                        <li class="dropdown-item dropend">
                            <a class="dropdown-link dropdown-toggle" data-bs-toggle="dropdown" href="{{ path('home') }}">
                                Hashiras
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ path('home') }}">
                                    <!-- All Hashiras -->
                                </a>
                            </div>
                        </li>
                        <hr class="text-black">
                        <li class="dropdown-item dropend">
                            <a class="dropdown-link dropdown-toggle" data-bs-toggle="dropdown" href="{{ path('home') }}">
                                Demons
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ path('home') }}">
                                    <!-- All Demons -->
                                </a>
                            </div>
                        </li>
                        <li class="dropdown-item dropend">
                            <a class="dropdown-link dropdown-toggle" data-bs-toggle="dropdown" href="{{ path('home') }}">
                                Lower Moons
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ path('home') }}">
                                    <!-- All Lower Moons -->
                                </a>
                            </div>
                        </li>
                        <li class="dropdown-item dropend">
                            <a class="dropdown-link dropdown-toggle" data-bs-toggle="dropdown" href="{{ path('home') }}">
                                Upper Moons
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ path('home') }}">
                                    <!-- All Upper Moons -->
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- News -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-link" href="{{ path('post_showcase') }}">
                        News
                    </a>
                </li>
            </ul>
            <!-- Right -->
            <ul class="navbar-nav ms-auto">
                {% if app.user %}
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MODERATOR') %}
                        <!-- Dashboard -->
                        <li class="nav-item dropdown mt-3">
                            <!-- Dashboard Button -->
                            <a class="nav-link dropdown-link" href="{{ path('easyadmin') }}">
                                Dashboard
                            </a>
                        </li>
                    {% endif %}
                    <!-- Profile -->
                    <li class="nav-item dropdown mt-1">
                        <a class="dropdown-toggle avatar avatar-online me-5" id="navbarProfile" data-bs-toggle="dropdown" href="{{ path('home') }}">
                            {% if app.user.hasAvatar %}
                                <img src="{{ vich_uploader_asset(app.user.avatar) | imagine_filter("avatar") }}" alt="Profile Picture" class="avatar-img rounded-circle">
                            {% else %}
                                <img src="{{ asset("img/defaultAvatar.jpg") | imagine_filter("avatar") }}" alt="Profile Picture" class="avatar-img rounded-circle">
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarProfile">
                            <a class="dropdown-item" href="{{ path('home') }}">My Profile</a>
                            <a class="dropdown-item" href="{{ path('home') }}">Preferences</a>
                            <hr class="text-black">
                            <a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
                        </ul>
                    </li>
                {% else %}
                    <!-- Connection Buttons -->
                    <li class="nav-item dropdown">
                        <!-- Sign In Button -->
                        <a class="nav-link dropdown-link" href="{{ path('app_login') }}">
                            Sign In
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <!-- Sign Up Button -->
                        <a class="nav-link text-black navbar-btn btn btn-sm btn-light lift ms-2 dropdown-link" href="{{ path('app_register') }}">
                            Sign Up
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>