<section class="py-6">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Form -->
                <form class="rounded shadow">
                    <div class="input-group input-group-lg">
                        <!-- Text -->
                        <span class="input-group-text border-0 pe-1">
                            <i class="fe fe-search"></i>
                        </span>
                        <!-- Input -->
                        <input type="text" class="form-control border-0 px-1" aria-label="Search" placeholder="Enter your search here...">
                        <!-- Text -->
                        <span class="input-group-text border-0 py-0 ps-1 pe-3">
                            <!-- Text -->
                            <span class="h6 text-uppercase text-muted d-none d-md-block mb-0 me-5"></span>
                            <!-- Button -->
                            <button type="submit" class="btn btn-sm btn-primary">Search</button>
                        </span>
                    </div>
                </form>
            </div>
        </div> <!-- / .row -->
    </div>
</section>