{% extends "base.html.twig" %}

{% block title %}Warning{% endblock %}

{% block body %}
    <section>
        <div class="container d-flex flex-column">
            <div class="row align-items-center justify-content-center gx-0 mt-5">
                <div class="col-12 col-md-5 col-lg-4 py-8 py-md-11 mt-5 text-white">
                    <div class="text-center">
                        <img src="{{ asset('img/spoilerWarning.jpg') | imagine_filter("warning") }}" alt="" class="rounded mb-5">
                    </div>
                    <!-- Heading -->
                    <h1 class="display-3 fw-bold text-center">Spoiler Alert!</h1>
                    <!-- Text -->
                    <p class="mb-5 text-center text-muted">
                        You ran into a page that contains spoilers. Would you like to proceed anyway?
                    </p>
                    <!-- Link -->
                    {{ form_start(form) }}
                    <div class="text-center">
                        {{ form_widget(form) }}
                        <a class="btn btn-success" href="{{ path('home') }}">Back to safety.</a>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>
{% endblock %}