{% extends 'admin/base.html.twig' %}

{% block title %}Edit - Post{% endblock %}

{% block body %}
    <div class="col-12 col-lg-9 col-xl-10 offset-lg-3 offset-xl-2 px-lg-7">
        <!-- Header -->
        <div class="row">
            <div class="col">
                <!-- Title -->
                <h1 class="header-title text-truncate text-white mt-3">
                    Edit Post
                </h1>
            </div>
        </div>
        <hr>
        <!-- Display flash messages -->
        <div>
            {% for type, flashes in app.flashes %}
                {% for message in flashes %}
                    <div class="alert alert-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="container-fluid mt-5">
            {{ form_start(form) }}
            {% if not form.vars.valid %}
                <div class="alert alert-danger">
                    {{ form_errors(form) }}
                </div>
            {% endif %}
            <div class="row mb-5">
                <div class="col-6">
                    <h3 class="text-white">{{ form_label(form.title) }}</h3>
                    {{ form_widget(form.title) }}
                </div>
                <div class="col-6">
                    <h3 class="text-white">{{ form_label(form.category) }}</h3>
                    {{ form_widget(form.category) }}
                </div>
            </div>
            <h3 class="text-white">{{ form_label(form.content) }}</h3>
            <div class="col-12 mb-5">
                {{ form_widget(form.content) }}
            </div>
            <div class="row mb-5">
                <div class="mt-5 col-6">
                    <h3 class="text-white">{{ form_label(form.spoilChapter) }}</h3>
                    {{ form_widget(form.spoilChapter) }}
                </div>
                <div class="col-5 row">
                    <h3 class="text-white">{{ form_label(form.cover) }}</h3>
                    {{ form_widget(form.cover) }}
                </div>
                <div class="mt-2 col-1">
                    {% if post.hasCover() %}
                        <a data-bigpicture='{"imgSrc": "{{ vich_uploader_asset(post.cover) }}"}' href="#">
                            <img src="{{ vich_uploader_asset(post.cover) }}" class="img-fluid" alt="Cover" height="150">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col mb-5">
                <button type="submit" class="btn btn-primary text-white">Edit post</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}



