{% extends "admin/base.html.twig" %}

{% block title %}Posts{% endblock %}

{% block body %}
    <div class="col-12 col-lg-9 col-xl-10 offset-lg-3 offset-xl-2 px-lg-7">
        <!-- Header -->
        <div class="row">
            <div class="col">
                <!-- Title -->
                <h1 class="header-title text-truncate text-white mt-3">
                    Posts
                </h1>
            </div>
            <div class="col-auto align-self-center">
                <!-- Button -->
                <a href="{{ path('admin_post_add') }}" class="nav-link text-black navbar-btn btn btn-sm btn-light lift ms-2 dropdown-link">
                    Add Post
                </a>
            </div>
        </div>
        <hr>
        <!-- Pagination -->
        <div class="container d-flex justify-content-end">
            {{ knp_pagination_render(posts, "admin/base/_pagination.html.twig") }}
        </div>
        <!-- Display flash messages -->
        <div>
            {% for type, flashes in app.flashes %}
                {% for message in flashes %}
                    <div class="alert alert-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <!-- Table -->
        <div class="table-responsive m-5 rounded">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Date</th>
                    <th scope="col">Category</th>
                    <th scope="col">Cover</th>
                    <th scope="col">Number of Comments</th>
                    <th scope="col">is Published?</th>
                    <th scope="col">is Edited?</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for post in posts %}
                    <tr>
                        <th scope="row">{{ post.id }}</th>
                        <td>{{ post.title}}</td>
                        <td>{{ post.author.pseudo }}</td>
                        <td>{{ post.postedAt| date("m/d/Y") }}</td>
                        <td>{{ post.category.title }}</td>
                        <td>
                            {% if post.hasCover() %}
                                <a data-bigpicture='{"imgSrc": "{{ vich_uploader_asset(post.cover) }}"}' href="#">
                                    <img src="{{ vich_uploader_asset(post.cover) }}" class="img-fluid" alt="Cover" height="30" width="30">
                                </a>
                            {% else %}
                                <i class="ph-camera-slash"></i>
                            {% endif %}
                        </td>
                        <td>{{ post.commentsAmount }}</td>
                        <td>
                            <div class="form-check form-switch">
                                {% if post.isPublished %}
                                    <input class="form-check-input" type="checkbox" id="isPublished" checked>
                                {% else %}
                                    <input class="form-check-input" type="checkbox" id="isPublished">
                                {% endif %}
                                <label class="form-check-label" for="isPublished"></label>
                            </div>
                        </td>
                        <td>
                            <div class="form-check form-switch">
                                {% if post.isEdited() %}
                                    <input class="form-check-input" type="checkbox" id="isEdited" checked disabled>
                                {% else %}
                                    <input class="form-check-input" type="checkbox" id="isEdited" disabled>
                                {% endif %}
                                <label class="form-check-label" for="isEdited"></label>
                            </div>
                        </td>
                        <td>
                            <a href="{{ path('admin_post_edit', {'id': post.id}) }}" class="text-black">
                                <i class="ph-pencil"></i>
                            </a>
                            <a>
                                <i class="ph-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}