<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Reset Password - Sukitoru Sekai{% endblock %}</title>

    {% block stylesheets %}
        <!-- Webpack Encore CSS -->
        {{ encore_entry_link_tags('app') }}
        <!-- Font Awesome -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
    {% endblock %}

    {% block javascripts %}
        <!-- Webpack Encore JS -->
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="bg-black">
    <!-- CONTENT -->
    <section class="section-border border-primary">
        <div class="container d-flex flex-column">
            <div class="row align-items-center justify-content-center gx-0 min-vh-100">
                <div class="col-12 col-md-5 col-lg-4 py-8 py-md-11">

                    <!-- Heading -->
                    <h1 class="mb-0 fw-bold text-center text-white">
                        Reset Password
                    </h1>

                    <!-- Text -->
                    <p class="mb-6 text-center text-muted">
                        Hello, we received a reset password demande on your account,<br>
                        Please click the link below if you want to reset your password.
                    </p>

                    <!-- Submit -->
                    <a class="btn w-100 btn-primary" href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}>
                        Reset Password
                    </a>

                    <!-- Text -->
                    <p class="mb-0 fs-sm text-center text-muted">
                        This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
                    </p>

                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
</section>
</body>
