<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Reset Password - Sukitoru Sekai{% endblock %}</title>

    {% block stylesheets %}
        <!-- Webpack Encore CSS -->
        {{ encore_entry_link_tags('app') }}
        <!-- Font Awesome -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
    {% endblock %}

    {% block javascripts %}
        <!-- Webpack Encore JS -->
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="bg-black" data-aos-easing="ease-out-quad" data-aos-duration="700" data-aos-delay="0">
<!-- CONTENT -->
<section class="section-border border-primary">
    <div class="container d-flex flex-column">
        <div class="row align-items-center justify-content-center gx-0 min-vh-100">
            <div class="col-8 col-md-6 col-lg-7 offset-md-1 order-md-2 mt-auto mt-md-0 pt-8 pb-4 py-md-11">

                <!-- Image -->
                <img src="{{ asset('img/reset.png') }}" alt="..." class="img-fluid">

            </div>
            <div class="col-12 col-md-5 col-lg-4 order-md-1 mb-auto mb-md-0 pb-8 py-md-11">
                <!-- Heading -->
                <h1 class="mb-0 fw-bold text-center text-white">
                    Reset your password
                </h1>
                {{ form_start(resetForm) }}
                    <!-- Text -->
                    <p class="mb-6 text-center text-muted text-white">
                        Confirm your new password below.
                    </p>
                    <div class="mb-5 text-white">
                        {{ form_row(resetForm.plainPassword) }}
                    </div>
                    <button class="btn w-100 btn-primary mb-2" type="submit">
                        Reset password
                    </button>
                    <a class="text-muted" href="{{ path('home') }}"><i class="fa fa-arrow-left"></i> Return home</a>
                {{ form_end(resetForm) }}
            </div>
        </div>
    </div>
</section>
</body>