{% extends "admin/base.html.twig" %}

{% block title %}Chapters{% endblock %}

{% block body %}
    <div class="col-12 col-lg-9 col-xl-10 offset-lg-3 offset-xl-2 px-lg-7">
        <!-- Header -->
        <div class="row">
            <div class="col">
                <!-- Title -->
                <h1 class="header-title text-truncate text-white mt-3">
                    Chapters
                </h1>
            </div>
            <div class="col-auto align-self-center">
                <!-- Button -->
                <a href="{{ path('admin_chapter_add') }}" class="nav-link text-black navbar-btn btn btn-sm btn-light lift ms-2 dropdown-link">
                    Add Chapter
                </a>
            </div>
        </div>
        <hr>
        <!-- Pagination -->
        <div class="container d-flex justify-content-end">
            {{ knp_pagination_render(chapters, "admin/base/_pagination.html.twig") }}
        </div>
        <!-- Display flash messages -->
        <div>
            {% for type, flashes in app.flashes %}
                {% for message in flashes %}
                    <div class="alert alert-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <!-- Table -->
        <div class="table-responsive m-5">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Number</th>
                    <th scope="col">Amount of Pages</th>
                    <th scope="col">Description</th>
                    <th scope="col">Release Date</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for chapter in chapters %}
                    <tr>
                        <th scope="row">{{ chapter.id }}</th>
                        <td>{{ chapter.title }}</td>
                        <td>{{ chapter.number }}</td>
                        <td>{{ chapter.pagesAmount }}</td>
                        <td>{% autoescape false %}{{ chapter.description | slice(0, 64)}}...{% endautoescape %}</td>
                        <td>{{ chapter.releasedAt | date("m/d/Y") }}</td>
                        <td>
                            <a href="{{ path('admin_chapter_edit', {'id': chapter.id}) }}" class="text-black">
                                <i class="ph-pencil"></i>
                            </a>
                            <a>
                                <i class="ph-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}