<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="{{ asset('img/logo.svg') }}" />
        <title>{% block title %}{% endblock %} - Sukitoru Sekai</title>

        {% block stylesheets %}
            <!-- Webpack Encore CSS -->
            {{ encore_entry_link_tags('app') }}
            <!-- Font Awesome -->
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
            <link href="https://getbootstrap.com/docs/5.1/examples/sidebars/sidebars.css" rel="stylesheet">
        {% endblock %}

        {% block javascripts %}
            <!-- Phosphor -->
            <script src="https://unpkg.com/phosphor-icons"></script>
            <!-- Webpack Encore JS -->
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-black">
        <section>
            <div class="container-fluid">
                <div class="row">
                    {% include "admin/base/_sidebar.html.twig" %}
                    {% block body %}{% endblock %}
                </div>
            </div>
        </section>
    </body>
</html>
