{% extends "admin/base.html.twig" %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="col-12 col-lg-9 col-xl-10 offset-lg-3 offset-xl-2 px-lg-7">
        <span class="text-white">Dashboard</span>
    </div>
{% endblock %}