{% extends "admin/base.html.twig" %}

{% block title %}Episodes{% endblock %}

{% block body %}
    <div class="mt-5 col-12 col-lg-9 col-xl-10 offset-lg-3 offset-xl-2 px-lg-7">

    </div>
    <div class="col-12 col-lg-9 col-xl-10 offset-lg-3 offset-xl-2 px-lg-7">
        <!-- Header -->
        <div class="row">
            <div class="col">
                <!-- Title -->
                <h1 class="header-title text-truncate text-white mt-3">
                    Episodes
                </h1>
            </div>
            <div class="col-auto align-self-center">
                <!-- Button -->
                <a href="{{ path('admin_episode_add') }}" class="nav-link text-black navbar-btn btn btn-sm btn-light lift ms-2 dropdown-link">
                    Add Episode
                </a>
            </div>
        </div>
        <hr>
        <!-- Pagination -->
        <div class="container d-flex justify-content-end">
            {{ knp_pagination_render(episodes, "admin/base/_pagination.html.twig") }}
        </div>
        <!-- Display flash messages -->
        <div>
            {% for type, flashes in app.flashes %}
                {% for message in flashes %}
                    <div class="alert alert-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <!-- Table -->
        <div class="table-responsive m-5">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Number</th>
                    <th scope="col">Season</th>
                    <th scope="col">Release Date</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Chapter(s) number covered</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for episode in episodes %}
                    <tr>
                        <th scope="row">{{ episode.id }}</th>
                        <td>{{ episode.title }}</td>
                        <td>{{ episode.number }}</td>
                        <td>
                            {% if episode.hasSeason() %}
                                {{ episode.season.number }}
                            {% else %}
                                None
                            {% endif %}
                        </td>
                        <td>{{ episode.releasedAt | date("m/d/Y") }}</td>
                        <td>
                            {% if episode.duration >= 3600 %}
                                {{ episode.duration | date("H:i:s") }}
                            {% else %}
                                {{ episode.duration | date("i:s") }}
                            {% endif %}
                        </td>
                        <td>
                            {% if episode.chapters is not empty %}
                                {% if episode.chapters | length == 1 %}
                                    {{ episode.chapters[0].number }}
                                {% else %}
                                    {% for chapter in episode.chapters %}
                                        {% if loop.first %}{{ chapter.number }}{% endif %}
                                        {% if loop.last %} - {{ chapter.number }}{% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% else %}
                                No Chapters
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('admin_episode_edit', {'id': episode.id}) }}" class="text-black">
                                <i class="ph-pencil"></i>
                            </a>
                            <a>
                                <i class="ph-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}