{% extends "admin/base.html.twig" %}

{% block title %}Arcs{% endblock %}

{% block body %}
    <div class="mt-5 col-12 col-lg-9 col-xl-10 offset-lg-3 offset-xl-2 px-lg-7">

    </div>
    <div class="col-12 col-lg-9 col-xl-10 offset-lg-3 offset-xl-2 px-lg-7">
        <!-- Header -->
        <div class="row">
            <div class="col">
                <!-- Title -->
                <h1 class="header-title text-truncate text-white mt-3">
                    Arcs
                </h1>
            </div>
            <div class="col-auto align-self-center">
                <!-- Button -->
                <a href="{{ path('admin_arc_add') }}" class="nav-link text-black navbar-btn btn btn-sm btn-light lift ms-2 dropdown-link">
                    Add Arc
                </a>
            </div>
        </div>
        <hr>
        <!-- Pagination -->
        <div class="container d-flex justify-content-end">
            {{ knp_pagination_render(arcs, "admin/base/_pagination.html.twig") }}
        </div>
        <!-- Display flash messages -->
        <div>
            {% for type, flashes in app.flashes %}
                {% for message in flashes %}
                    <div class="alert alert-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <!-- Table -->
        <div class="table-responsive m-5">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Chapters</th>
                    <th scope="col">Cover</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for arc in arcs %}
                    <tr>
                        <th scope="row">{{ arc.id }}</th>
                        <td>{{ arc.title }}</td>
                        <td>
                            {% if arc.chapters is not empty %}
                                {% for chapter in arc.chapters %}
                                    {% if loop.first %}{{ chapter.number }}{% endif %}
                                    {% if loop.last %} - {{ chapter.number }}{% endif %}
                                {% endfor %}
                            {% else %}
                                No Chapters
                            {% endif %}
                        </td>
                        <td>
                            {% if arc.hasCover() %}
                                <a data-bigpicture='{"imgSrc": "{{ vich_uploader_asset(arc.cover) }}"}' href="">
                                    <img src="{{ vich_uploader_asset(arc.cover) }}" class="img-fluid" alt="Cover" height="30" width="30">
                                </a>
                            {% else %}
                                <i class="ph-camera-slash"></i>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('admin_arc_edit', {'id': arc.id}) }}" class="text-black">
                                <i class="ph-pencil"></i>
                            </a>
                            <a>
                                <i class="ph-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}