{% extends 'admin/base.html.twig' %}

{% block title %}Edit - Category{% endblock %}

{% block body %}
    <div class="col-12 col-lg-9 col-xl-10 offset-lg-3 offset-xl-2 px-lg-7">
        <!-- Header -->
        <div class="row">
            <div class="col">
                <!-- Title -->
                <h1 class="header-title text-truncate text-white mt-3">
                    Edit Category
                </h1>
            </div>
        </div>
        <hr>
        <div class="container-fluid mt-5">
            {{ form_start(form) }}
            {% if not form.vars.valid %}
                <div class="alert alert-danger">
                    {{ form_errors(form) }}
                </div>
            {% endif %}
            <h3 class="text-white">{{ form_label(form.title) }}</h3>
            <div class="row">
                <div class="col-3">
                    {{ form_widget(form.title) }}
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary text-white">Edit category</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

