<!-- Sidebar -->
<div class="col-12 col-lg-3 col-xl-2 px-lg-0 sidenav sidenav-start text-white min-vh-100 border border-white border-5 border-top-0 border-left-0 border-bottom-0" style="top: 0">
    <div class="d-flex flex-column container vh-100">
        <a href="{{ path('admin_dashboard') }}" class="d-flex align-items-center mt-5 mb-5 mb-md-0 me-md-auto text-white text-decoration-none">
            <img src="{{ asset('img/logo.svg') }}" alt="Sukitoru Sekai - Logo" class="img-fluid" width="60" height="60">
            <span class="ms-2 fs-4">Dashboard</span>
        </a>
        <hr class="mt-5 mb-5">
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="{{ path('admin_dashboard') }}" class="nav-link dropdown-link d-flex">
                    <i class="ph-house mt-1 me-2"></i>
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('admin_ability_table') }}" class="nav-link dropdown-link d-flex">
                    <i class="ph-sword mt-1 me-2"></i>
                    Abilities
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('admin_arc_table') }}" class="nav-link dropdown-link d-flex">
                    <i class="ph-bookmarks mt-1 me-2"></i>
                    Arcs
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('admin_bluray_table') }}" class="nav-link dropdown-link d-flex">
                    <i class="ph-disc mt-1 me-2"></i>
                    Blurays
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('admin_category_table') }}" class="nav-link dropdown-link d-flex">
                    <i class="ph-folder mt-1 me-2"></i>
                    Categories
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('admin_chapter_table') }}" class="nav-link dropdown-link d-flex">
                    <i class="ph-book-open mt-1 me-2"></i>
                    Chapters
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('admin_character_table') }}" class="nav-link dropdown-link d-flex">
                    <i class="ph-person mt-1 me-2"></i>
                    Characters
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('admin_disc_table') }}" class="nav-link dropdown-link d-flex">
                    <i class="ph-record mt-1 me-2"></i>
                    Discs
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('admin_episode_table') }}" class="nav-link dropdown-link d-flex">
                    <i class="ph-monitor-play mt-1 me-2"></i>
                    Episodes
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('admin_organization_table') }}" class="nav-link dropdown-link d-flex">
                    <i class="ph-users-three mt-1 me-2"></i>
                    Organizations
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('admin_post_table') }}" class="nav-link dropdown-link d-flex">
                    <i class="ph-article mt-1 me-2"></i>
                    Posts
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('admin_season_table') }}" class="nav-link dropdown-link d-flex">
                    <i class="ph-television mt-1 me-2"></i>
                    Seasons
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('admin_soundtrack_table') }}" class="nav-link dropdown-link d-flex">
                    <i class="ph-music-note mt-1 me-2"></i>
                    Soundtracks
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('admin_volume_table') }}" class="nav-link dropdown-link d-flex">
                    <i class="ph-books mt-1 me-2"></i>
                    Volumes
                </a>
            </li>
        </ul>
        <hr class="mt-auto">
        <ul class="nav nav-pills flex-column mb-5">
            <li class="nav-item">
                <a href="{{ path('home') }}" class="nav-link dropdown-link d-flex">
                    <i class="ph-arrow-bend-up-left mt-1 me-2"></i>
                    <strong>Return</strong>
                </a>
            </li>
        </ul>
    </div>
</div>