{% extends "admin/base.html.twig" %}

{% block title %}Seasons{% endblock %}

{% block body %}
    <div class="col-12 col-lg-9 col-xl-10 offset-lg-3 offset-xl-2 px-lg-7">
        <!-- Header -->
        <div class="row">
            <div class="col">
                <!-- Title -->
                <h1 class="header-title text-truncate text-white mt-3">
                    Seasons
                </h1>
            </div>
            <div class="col-auto align-self-center">
                <!-- Button -->
                <a href="{{ path('admin_season_add') }}" class="nav-link text-black navbar-btn btn btn-sm btn-light lift ms-2 dropdown-link">
                    Add Season
                </a>
            </div>
        </div>
        <hr>
        <!-- Pagination -->
        <div class="container d-flex justify-content-end">
            {{ knp_pagination_render(seasons, "admin/base/_pagination.html.twig") }}
        </div>
        <!-- Display flash messages -->
        <div>
            {% for type, flashes in app.flashes %}
                {% for message in flashes %}
                    <div class="alert alert-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <!-- Table -->
        <div class="table-responsive m-5">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Release Date</th>
                    <th scope="col">Episodes amount</th>
                    <th scope="col">Cover</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for season in seasons %}
                    <tr>
                        <th scope="row">{{ season.id }}</th>
                        <td>{{ season.title }}</td>
                        <td>{% set firstEp = season.episodes | first %}{{ firstEp.releaseDate | date("m/d/Y") }}</td>
                        <td>{{ season.episodes | length }}</td>
                        <td>
                            {% if season.hasCover() %}
                                <a data-bigpicture='{"imgSrc": "{{ vich_uploader_asset(season.cover) }}"}' href="#">
                                    <img src="{{ vich_uploader_asset(season.cover) }}" class="img-fluid" alt="Cover" height="30" width="30">
                                </a>
                            {% else %}
                                <i class="ph-camera-slash"></i>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('admin_season_edit', {'id': season.id}) }}" class="text-black">
                                <i class="ph-pencil"></i>
                            </a>
                            <a>
                                <i class="ph-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}