{% extends 'admin/base.html.twig' %}

{% block title %}Add - Character{% endblock %}

{% block body %}
    <div class="col-12 col-lg-9 col-xl-10 offset-lg-3 offset-xl-2 px-lg-7">
        <!-- Header -->
        <div class="row">
            <div class="col">
                <!-- Title -->
                <h1 class="header-title text-truncate text-white mt-3">
                    Add New Character
                </h1>
            </div>
        </div>
        <hr>
        <!-- Display flash messages -->
        <div>
            {% for type, flashes in app.flashes %}
                {% for message in flashes %}
                    <div class="alert alert-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="container-fluid my-5">
            {{ form_start(form) }}
            {% if not form.vars.valid %}
                <div class="alert alert-danger">
                    {{ form_errors(form) }}
                </div>
            {% endif %}
            <div class="row mt-5 mb-5">
                <div class="col-6">
                    <h3 class="text-white">{{ form_label(form.name) }}</h3>
                    {{ form_widget(form.name) }}
                </div>
                <div class="col-6">
                    <h3 class="text-white">{{ form_label(form.aliases) }}</h3>
                    {{ form_widget(form.aliases) }}
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-6">
                    <h3 class="text-white">{{ form_label(form.age) }}</h3>
                    {{ form_widget(form.age) }}
                </div>
                <div class="col-6">
                    <h3 class="text-white">{{ form_label(form.voiceActor) }}</h3>
                    {{ form_widget(form.voiceActor) }}
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-6">
                    <h3 class="text-white">{{ form_label(form.height) }}</h3>
                    {{ form_widget(form.height) }}
                </div>
                <div class="col-6">
                    <h3 class="text-white">{{ form_label(form.weight) }}</h3>
                    {{ form_widget(form.weight) }}
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-6">
                    <h3 class="text-white">{{ form_label(form.gender) }}</h3>
                    {{ form_widget(form.gender) }}
                </div>
                <div class="col-6">
                    <h3 class="text-white">{{ form_label(form.race) }}</h3>
                    {{ form_widget(form.race) }}
                </div>
            </div>
            <div class="mb-5">
                <h3 class="text-white">{{ form_label(form.description) }}</h3>
                {{ form_widget(form.description) }}
            </div>
            <h3 class="text-white">{{ form_label(form.relations) }}</h3>
            {{ form_widget(form.relations) }}
            <button type="button" class="btn btn-primary mb-3" id="addRelative">Add</button>
            <div class="row mb-5">
                <div class="col-6">
                    <h3 class="text-white">{{ form_label(form.organizations) }}</h3>
                    {{ form_widget(form.organizations) }}
                </div>
                <div class="col-6">
                    <h3 class="text-white">{{ form_label(form.abilities) }}</h3>
                    {{ form_widget(form.abilities) }}
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-6 row">
                    <h3 class="text-white mb-3">{{ form_label(form.firstChapterAppearance) }}</h3>
                    <div class="container">{{ form_widget(form.firstChapterAppearance) }}</div>
                </div>
                <div class="col-6 row">
                    <h3 class="text-white">{{ form_label(form.cover) }}</h3>
                    {{ form_widget(form.cover) }}
                </div>
            </div>
            <div class="col mb-5">
                <button type="submit" class="btn btn-primary text-white">Create new character</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}


