{% extends "admin/base.html.twig" %}

{% block title %}Characters{% endblock %}

{% block body %}
    <div class="col-12 col-lg-9 col-xl-10 offset-lg-3 offset-xl-2 px-lg-7">
        <!-- Header -->
        <div class="row">
            <div class="col">
                <!-- Title -->
                <h1 class="header-title text-truncate text-white mt-3">
                    Characters
                </h1>
            </div>
            <div class="col-auto align-self-center">
                <!-- Button -->
                <a href="{{ path('admin_character_add') }}" class="nav-link text-black navbar-btn btn btn-sm btn-light lift ms-2 dropdown-link">
                    Add Character
                </a>
            </div>
        </div>
        <hr>
        <!-- Pagination -->
        <div class="container d-flex justify-content-end">
            {{ knp_pagination_render(characters, "admin/base/_pagination.html.twig") }}
        </div>
        <!-- Display flash messages -->
        <div>
            {% for type, flashes in app.flashes %}
                {% for message in flashes %}
                    <div class="alert alert-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <!-- Table -->
        <div class="table-responsive m-5">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Cover</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for character in characters %}
                    <tr>
                        <th scope="row">{{ character.id }}</th>
                        <td>{{ character.name }}</td>
                        <td>{{ character.description | slice(0, 48) | striptags | replace({" ": "&nbsp;"}) | raw | nl2br }}...</td>
                        <td>
                            {% if character.hasCover() %}
                                <a data-bigpicture='{"imgSrc": "{{ vich_uploader_asset(character.cover) }}"}' href="">
                                    <img src="{{ vich_uploader_asset(character.cover) }}" class="img-fluid" alt="Cover" height="30" width="30">
                                </a>
                            {% else %}
                                <i class="ph-camera-slash"></i>
                            {% endif %}</td>
                        <td>
                            <a href="{{ path('admin_character_edit', {'id': character.id}) }}" class="text-black">
                                <i class="ph-pencil"></i>
                            </a>
                            <a>
                                <i class="ph-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}