<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="{{ asset('img/logo.svg') }}" />
        <title>{% block title %}Home{% endblock %} - Sukitoru Sekai</title>
        
        {% block stylesheets %}
            <!-- Webpack Encore CSS -->
            {{ encore_entry_link_tags('app') }}
            <!-- Font Awesome -->
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
        {% endblock %}

        {% block javascripts %}
            <!-- Phosphor -->
            <script src="https://unpkg.com/phosphor-icons"></script>
            <!-- JQuery -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <!-- Webpack Encore JS -->
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-black">
        {% include "base/_navbar.html.twig" %}
        {% block body %}{% endblock %}
        {% include "base/_footer.html.twig" %}
    </body>
</html>
