<div class="col-12 col-md-6 col-lg-4 d-flex">
    <!-- Card -->
    <div class="card mb-6 shadow-light-lg lift lift-lg bg-dark">
        <!-- Image -->
        <a class="card-img-top" href="{{ path('post_show', {'slug': post.slug}) }}">
            <!-- Image -->
            <img src="{{ vich_uploader_asset(post.cover) | imagine_filter("postCard") }}" alt="{{ post.title }}" class="card-img-top">
            <!-- Shape -->
            <div class="position-relative">
                <div class="shape shape-bottom shape-fluid-x text-dark">
                    <svg viewBox="0 0 2880 480" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0v240h2880V0h-720z" fill="currentColor"></path>
                    </svg>
                </div>
            </div>
        </a>
        <!-- Body -->
        <a class="card-body" href="{{ path('post_show', {'slug': post.slug}) }}">
            <!-- Heading -->
            <h3 class="text-white">{{ post.title }}</h3>
            <!-- Text -->
            <p class="mb-0 text-muted">{{ post.content | striptags | slice(0, 48) }}...</p>
        </a>
        <!-- Meta -->
        <a class="card-meta mt-auto" href="{{ path('post_show', {'slug': post.slug}) }}">
            <!-- Divider -->
            <hr class="card-meta-divider">
            <!-- Avatar -->
            <div class="avatar avatar-sm me-2">
                {% if post.author.hasAvatar %}
                    <img src="{{ vich_uploader_asset(post.author.avatar) | imagine_filter("avatar") }}" alt="{{ post.author.pseudo }}" class="avatar-img rounded-circle">
                {% else %}
                    <img src="{{ asset("img/defaultAvatar.jpg") | imagine_filter("avatar")  }}" alt="{{ post.author.pseudo }}" class="avatar-img rounded-circle">
                {% endif %}
            </div>
            <!-- Author -->
            <h6 class="text-uppercase text-muted me-2 mb-0">{{ post.author.pseudo }}</h6>
            <!-- Date -->
            <p class="h6 text-uppercase text-muted mb-0 ms-auto">{{ post.postedAt | date("m/d/Y") }}</p>
        </a>
    </div>
</div>