<section>
    <div class="container text-white">
        <!-- Title -->
        <h2>Comments ({{ post.commentsAmount }})</h2>
        <hr>
        <!-- Comment creation -->
        {% if app.user %}
            <!-- User -->
            <h5 class="text-muted">Connected as <span class="text-white">{{ post.author.pseudo }}</span></h5>
            <div class="card bg-black">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <!-- Avatar -->
                        <div class="avatar flex-shrink-0">
                            {% if app.user.hasAvatar %}
                                {% set img = vich_uploader_asset(app.user.avatar) | imagine_filter("avatar") %}
                            {% else %}
                                {% set img = asset("img/defaultAvatar.jpg") | imagine_filter("avatar") %}
                            {% endif %}
                            <img src="{{ img }}" alt="Profile Picture" class="avatar-img rounded-circle">
                        </div>
                        <!-- Form -->
                        <div class="flex-grow-1 ms-3">
                            {{ form_start(form) }}
                                {{ form_widget(form.content) }}
                                <button type="submit" class="ms-auto btn btn-xs btn-primary text-white mt-1">POST</button>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <h5 class="text-muted"><a href="{{ path('app_login') }}" class="text-white">Login</a> or <a href="{{ path('app_register') }}" class="text-white">register</a> to comment.</h5>
        {% endif %}
        <!-- Display flash messages -->
        <div>
            {% for type, flashes in app.flashes %}
                {% for message in flashes %}
                    <div class="alert alert-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <!-- All Comments -->
        <div>
            {% for comment in comments %}
                {% if not comment.isMuted or (comment.isMuted and (is_granted('ROLE_ADMIN') or is_granted('ROLE_MODERATOR'))) %}
                    <div class="list-group list-group-flush bg-black mt-5 mb-5">
                        <div class="list-group-item d-flex align-items-center bg-black">
                            <div class="d-flex align-items-center">
                                <!-- Avatar -->
                                <div class="avatar flex-shrink-0">
                                    {% if comment.author.avatar != null %}
                                        {% set img = vich_uploader_asset(comment.author.avatar) | imagine_filter("avatar") %}
                                    {% else %}
                                        {% set img = asset("img/defaultAvatar.jpg") | imagine_filter("avatar") %}
                                    {% endif %}
                                    <img src="{{ img }}" alt="Profile Picture" class="avatar-img rounded-circle">
                                </div>
                                <!-- Text -->
                                <div class="flex-grow-1 ms-3">
                                    <div class="me-auto">
                                        <!-- Heading -->
                                        <p class="fw-bold mb-1">
                                            <span class="text-white bold">{{ comment.author.pseudo }}</span>
                                            <span class="text-muted">{{ comment.sentAt | date("m/d/Y") }} at {{ comment.sentAt | date("h:i", false) }}</span>
                                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MODERATOR') %}
                                                {% if comment.isMuted %}
                                                    <span class="text-info ms-2">
                                                        <button type="button" class="btn btn-xs btn-success-soft" id="comment" data-id="{{ path('ajax_show_comment', {"id": comment.id}) }}">Show</button>
                                                    </span>
                                                {% else %}
                                                    <span class="text-info ms-2">
                                                        <button type="button" class="btn btn-xs btn-danger-soft" id="comment" data-id="{{ path('ajax_hide_comment', {"id": comment.id}) }}">Hide</button>
                                                    </span>
                                                {% endif %}
                                            {% endif %}
                                        </p>
                                        <!-- Text -->
                                        {% if comment.isMuted and (is_granted('ROLE_ADMIN') or is_granted('ROLE_MODERATOR')) %}
                                            <p class="fs-sm text-muted mb-0">{{ comment.content }}</p>
                                        {% else %}
                                            <p class="fs-sm text-info mb-0">{{ comment.content }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <!-- Pagination -->
            <div class="container d-flex justify-content-end">
                {{ knp_pagination_render(comments, "admin/base/_pagination.html.twig") }}
            </div>
        </div>
    </div>
</section>