{% extends "base.html.twig" %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <!-- Cover -->
    <section data-jarallax data-speed=".8" class="py-12 py-md-15 bg-cover jarallax" style="background-image: none; position: relative; z-index: 0;" data-jarallax-original-styles="background-image: url({{ vich_uploader_asset(post.cover) | imagine_filter("banner") }});">
        <div id="jarallax-container-0" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; z-index: -100;">
            <div style="background-position: 50% 50%; background-size: cover; background-repeat: no-repeat; background-image: url({{ vich_uploader_asset(post.cover) | imagine_filter("banner") }}); position: absolute; top: 0; left: 0; width: 100%; height: 612px; overflow: hidden; pointer-events: none; transform-style: preserve-3d; backface-visibility: hidden; will-change: transform, opacity; margin-top: 199px; transform: translate3d(0px, -216.64px, 0px);">
            </div>
        </div>
    </section>
    <!-- Content -->
    <section class="pt-8 pt-md-11 mb-5">
        <div class="container-fluid">
            <!-- Header -->
            <div class="row justify-content-center mb-5">
                <div class="col-12 col-md-10 col-lg-9 col-xl-8">
                    <!-- Heading -->
                    <h1 class="display-4 text-center text-white">{{ post.title }}</h1>
                </div>
                <!-- Meta -->
                <div class="col-12 col-md-10 col-lg-9 col-xl-8">
                    <div class="row align-items-center py-5">
                        <div class="col-auto">
                            <!-- Avatar -->
                            <div class="avatar avatar-lg">
                                {% if post.author.hasAvatar %}
                                    <img src="{{ vich_uploader_asset(post.author.avatar) | imagine_filter("avatar") }}" alt="{{ post.author.pseudo }}" class="avatar-img rounded-circle">
                                {% else %}
                                    <img src="{{ asset("img/defaultAvatar.jpg") | imagine_filter("avatar") }}" alt="{{ post.author.pseudo }}" class="avatar-img rounded-circle">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col ms-n5 mt-2">
                            <!-- Name -->
                            <h6 class="text-uppercase mb-0 text-white">{{ post.author.pseudo }}</h6>
                            <!-- Date -->
                            <time class="fs-sm text-muted">{{ post.postedAt | date("m/d/Y") }}</time>
                        </div>
                        <div class="col-auto align-self-center">
                            <!-- Share -->
                            <span class="h6 text-uppercase text-muted d-none d-md-inline me-4">Share:
                                <button type="button" class="btn btn-outline-light btn-xs ms-2">Copy</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Content -->
            <div class="row justify-content-center my-5">
                <div class="col-12 col-md-10 col-lg-9 col-xl-8 text-white">
                    <!-- Text -->
                    {{ post.content | raw }}
                </div>
            </div>
        </div>
    </section>
    <!-- Comments -->
    {% include "post/comments.html.twig" %}
{% endblock %}