{% extends "base.html.twig" %}

{% block title %}Posts{% endblock %}

{% block body %}
    {% include "base/_search.html.twig" %}
    <!-- Cards -->
    <section>
        <div class="container">
            <div class="row">
                {% for post in posts %}
                    {% include "post/card.html.twig" %}
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Pagination -->
    <div class="container d-flex justify-content-end">
        {{ knp_pagination_render(posts, "admin/base/_pagination.html.twig") }}
    </div>
{% endblock %}