{% extends 'admin/base.html.twig' %}

{% block title %}Add - Ability{% endblock %}

{% block body %}
    <div class="col-12 col-lg-9 col-xl-10 offset-lg-3 offset-xl-2 px-lg-7">
        <!-- Header -->
        <div class="row">
            <div class="col">
                <!-- Title -->
                <h1 class="header-title text-truncate text-white mt-3">
                    Add New Ability
                </h1>
            </div>
        </div>
        <hr>
        <!-- Display flash messages -->
        <div>
            {% for type, flashes in app.flashes %}
                {% for message in flashes %}
                    <div class="alert alert-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="container-fluid mt-5 mb-5">
            {{ form_start(form) }}
            {% if not form.vars.valid %}
                <div class="alert alert-danger">
                    {{ form_errors(form) }}
                </div>
            {% endif %}
            <div class="row mt-5 mb-5">
                <div class="col-6">
                    <h3 class="text-white">{{ form_label(form.name) }}</h3>
                    {{ form_widget(form.name) }}
                </div>
                <div class="col-6">
                    <h3 class="text-white">{{ form_label(form.romaji) }}</h3>
                    {{ form_widget(form.romaji) }}
                </div>
            </div>
            <h3 class="text-white">{{ form_label(form.summary) }}</h3>
            <div class="col-12 mb-5">
                {{ form_widget(form.summary) }}
            </div>
            <h3 class="text-white">{{ form_label(form.description) }}</h3>
            <div class="col-12 mb-5">
                {{ form_widget(form.description) }}
            </div>
            <div class="row mb-5">
                <h3 class="text-white">{{ form_label(form.spoilChapter) }}</h3>
                {{ form_widget(form.spoilChapter) }}
            </div>
            <div class="col row mb-5">
                <h3 class="text-white">{{ form_label(form.medias) }}</h3>
                {{ form_widget(form.medias) }}
            </div>
            <div class="col mb-5">
                <button type="submit" class="btn btn-primary text-white">Create new ability</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}


