{% extends 'admin/base.html.twig' %}

{% block title %}Edit - Ability{% endblock %}

{% block body %}
    <div class="col-12 col-lg-9 col-xl-10 offset-lg-3 offset-xl-2 px-lg-7">
        <!-- Header -->
        <div class="row">
            <div class="col">
                <!-- Title -->
                <h1 class="header-title text-truncate text-white mt-3">
                    Edit Ability
                </h1>
            </div>
        </div>
        <hr>
        <div class="container-fluid mt-5 mb-5 text-white">
            {{ form_start(form) }}
                {% if not form.vars.valid %}
                    <div class="alert alert-danger text-white">
                        {{ form_errors(form) }}
                    </div>
                {% endif %}
                <div class="row mb-5">
                    <div class="col-6">
                        <h3>{{ form_label(form.name) }}</h3>
                        {{ form_widget(form.name) }}
                    </div>
                    <div class="col-6">
                        <h3>{{ form_label(form.romaji) }}</h3>
                        {{ form_widget(form.romaji) }}
                    </div>
                </div>
                <div class="mb-5">
                    <h3>{{ form_label(form.summary) }}</h3>
                    {{ form_widget(form.summary) }}
                </div>
                <div class="mb-5">
                    <h3>{{ form_label(form.description) }}</h3>
                    {{ form_widget(form.description) }}
                </div>
                <div class="mb-5">
                    <h3>{{ form_label(form.spoilChapter) }}</h3>
                    {{ form_widget(form.spoilChapter) }}
                </div>
                <div class="mb-5">
                    <button type="submit" class="btn btn-primary text-white">Edit ability</button>
                </div>
            {{ form_row(form._token) }}
            {{ form_end(form, {render_rest: false}) }}
        </div>
    </div>
{% endblock %}


